<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Telegram Bot MFA</title>

    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/static/style.css}"/>

    <script th:src="@{/webjars/jquery/3.4.0/jquery.min.js}" defer></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Главная страница</h5>

                    <div class="mt-3">
                        <span>Здравствуйте, <b sec:authentication="principal.user.name"></b>!</span><br>
                        <span>Ваш логин: <b sec:authentication="principal.user.username"></b>.</span><br>
                        <span th:if="${useTelegram && telegram != null}">Ваш телеграм аккаунт: <b>@[[${telegram}]]</b>.</span>
                        <span th:if="${useTelegram && telegram == null}">Ваш телеграм аккаунт <b>подключён</b>.</span>
                    </div>

                    <th:block th:if="${!useTelegram}">
                        <script async src="https://telegram.org/js/telegram-widget.js?9"
                                data-telegram-login="MunoonBot_bot"
                                data-size="large" data-onauth="onTelegramAuth(user)"
                                data-request-access="write"></script>

                        <script>
                            function onTelegramAuth(user) {
                                $.post({
                                    url: '/ajax/user/telegram',
                                    method: 'POST',
                                    contentType: 'application/json',
                                    headers: getHeaders(),
                                    data: JSON.stringify({
                                        checkString: getCheckString(user),
                                        userId: user.id
                                    })
                                });
                            }

                            function getCheckString(data) {
                                let result = '';
                                for (let item in data) {
                                    if (data.hasOwnProperty(item)) {
                                        result += `${item}=${data[item]}\n`;
                                    }
                                }
                                return result;
                            }

                            function getHeaders() {
                                let headers = {};
                                let csrfHeader = document.querySelector('meta[name="_csrf_header"]').content;
                                headers[csrfHeader] = document.querySelector('meta[name="_csrf"]').content;
                                return headers;
                            }
                        </script>
                    </th:block>

                    <form th:action="@{/logout}" method="post" class="mt-3">
                        <button class="btn btn-secondary" type="submit">Выйти</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>