<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>

    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/static/style.css}"/>

    <script th:src="@{/webjars/jquery/3.4.0/jquery.min.js}" defer></script>
    <script th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}" defer></script>
    <script th:src="@{/webjars/sockjs-client/1.0.2/sockjs.min.js}" defer></script>
    <script th:src="@{/webjars/stomp-websocket/2.3.3/stomp.min.js}" defer></script>
    <script th:src="@{/static/login.js}" defer></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body" id="loginModal">
                    <div id="alertDiv">
                        <div class="alert alert-danger" role="alert" th:if="${param.error}">Неправильный логин или пароль</div>
                        <div class="alert alert-success" role="alert" th:if="${param.logout}">Вы успешно вышли из аккаунта!</div>
                    </div>

                    <div class="carousel slide" id="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <h5 class="card-title text-center">Войти</h5>
                                <form class="form-signin" th:action="@{/login}" method="post" id="loginForm">
                                    <div class="form-label-group">
                                        <input type="text" id="inputUsername" class="form-control" placeholder="Логин" name="username">
                                        <label for="inputUsername">Логин</label>
                                    </div>

                                    <div class="form-label-group">
                                        <input type="password" id="inputPassword" class="form-control" placeholder="Пароль" name="password">
                                        <label for="inputPassword">Пароль</label>
                                    </div>

                                    <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Войти</button>
                                    <button class="btn btn-lg btn-secondary btn-block text-uppercase" id="openRegisterButton">Зарегестрироваться</button>
                                </form>

                                <hr>

                                <a href="#" onclick="typeForm('admin', 'admin')">Войти в аккаунт Admin</a><br>
                                <a href="#" onclick="typeForm('user', 'user')">Войти в аккаунт User</a>
                            </div>

                            <div class="carousel-item">
                                <h5 class="card-title text-center">Зарегестрироваться</h5>
                                <form class="form-signin" id="registerForm">
                                    <div class="form-label-group">
                                        <input type="text" id="registerNameInput" class="form-control" placeholder="Логин" name="name">
                                        <label for="registerNameInput">Имя</label>
                                    </div>

                                    <div class="form-label-group">
                                        <input type="text" id="registerUsernameInput" class="form-control" placeholder="Логин" name="username">
                                        <label for="registerUsernameInput">Логин</label>
                                    </div>

                                    <div class="form-label-group">
                                        <input type="password" id="registerPasswordInput" class="form-control" placeholder="Пароль" name="password">
                                        <label for="registerPasswordInput">Пароль</label>
                                    </div>

                                    <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Зарегестрироваться</button>
                                    <button class="btn btn-lg btn-secondary btn-block text-uppercase" id="registerBackButton">Назад</button>
                                </form>
                            </div>

                            <div class="carousel-item">
                                <h5 class="card-title text-center">Подтвердите вход в телеграм</h5>

                                <div class="center mt-3 mb-3">
                                    <div style="width: 100px; height: 100px;">
                                        <div class="spinner-grow" role="status" style="color: #3d66c4; position: absolute; width: 100px; height: 100px;"></div>
                                        <div class="center" style="height: 100%;">
                                            <svg enable-background="new 0 0 24 24" height="50px" width="50px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" style="position: absolute;">
                                                <circle cx="12" cy="12" fill="#039be5" r="12"></circle>
                                                <path d="m5.491 11.74 11.57-4.461c.537-.194 1.006.131.832.943l.001-.001-1.97 9.281c-.146.658-.537.818-1.084.508l-3-2.211-1.447 1.394c-.16.16-.295.295-.605.295l.213-3.053 5.56-5.023c.242-.213-.054-.333-.373-.121l-6.871 4.326-2.962-.924c-.643-.204-.657-.643.136-.953z" fill="#fff"></path>
                                            </svg>
                                        </div>
                                    </div>
                                </div>

                                <a href="#" id="telegramBackButton">Назад</a>
                            </div>
                        </div>
                    </div>
                    <div class="fullscreen-loading">
                        <div class="spinner">
                            <div class="rect1"></div>
                            <div class="rect2"></div>
                            <div class="rect3"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>